<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>755197674527-ct09f3j3up6s1uhrmp14fu5pnqkoq2tp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755197674527-ct09f3j3up6s1uhrmp14fu5pnqkoq2tp</string>
	<key>API_KEY</key>
	<string>AIzaSyB7_sx8iASDJSNOvyCfvS58_bNhAM723q8</string>
	<key>GCM_SENDER_ID</key>
	<string>755197674527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.south-bend-code-school.Elephant</string>
	<key>PROJECT_ID</key>
	<string>elephantintheroom-5bf4f</string>
	<key>STORAGE_BUCKET</key>
	<string>elephantintheroom-5bf4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:755197674527:ios:a58076c452b5d544</string>
	<key>DATABASE_URL</key>
	<string>https://elephantintheroom-5bf4f.firebaseio.com</string>
</dict>
</plist>